.main {
  flex-grow: 1;
  flex-shrink: 0;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
}

.layout {
  background-image: radial-gradient(
    transparent 95%,
    var(--board-grid-color) 96%
  );
  background-size: 110px 110px;
  background-position: top 5px left 5px;
}
