.knob {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6%;

  border: 1px solid;
  user-select: none;

  overflow: hidden;

  transition-property: border-color, box-shadow, background-color;
  border-color: var(--color-widget-border);
  box-shadow: none;
  background-color: var(--color-widget-background);
  transition-duration: 200ms;
}

.knob.large {
  padding: 8%;
}

.knob.medium {
  padding: 6%;
}

.knob.small {
  padding: 4%;
}

.knob.pressed {
  border-color: var(--color-widget-border-pressed);
  box-shadow: 0px 0px 4px 0px #fff;
  background-color: var(--color-widget-subbackground-pressed);
  transition-duration: 0ms;
}

.knobContainer {
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  flex-shrink: 0;
  text-align: center;
  font-weight: bold;

  transition-property: color;
  color: var(--color-font);
  transition-duration: 200ms;
}

.knob.large .label {
  font-size: 14px;
}

.knob.medium .label {
  font-size: 13px;
}

.knob.small .label {
  font-size: 12px;
}

.knob.pressed .label {
  color: var(--color-widget-font-pressed);
  transition-duration: 0ms;
}

.knobContainer.heightIsGreater {
  flex-direction: row;
}

.knobContainer.widthIsGreater {
  flex-direction: column;
}

.actualKnob {
  display: flex;
  justify-content: center;
  padding: 6%;

  border: 1px solid;
  border-radius: 100%;

  aspect-ratio: 1/1;
  max-width: 100%;
  max-height: 100%;
  flex-grow: 1;

  transition-property: border-color, background-color, color;
  border-color: var(--color-widget-border);
  background-color: var(--color-widget-background);
  color: var(--color-font);
  transition-duration: 200ms;
}

.knob.pressed .actualKnob {
  border-color: var(--color-widget-border-pressed);
  background-color: var(--color-widget-background-pressed);
  color: var(--color-widget-font-pressed);
  transition-duration: 0ms;
}

.knob .dent {
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.knob .notch {
  width: 6px;
  height: 16px;
  border-radius: 6px;
}

.knob .dent,
.knob .notch {
  border: 1px solid;

  transition-property: border-color, background-color, color;
  border-color: var(--color-widget-border);
  background-color: var(--color-widget-background);
  color: var(--color-widget-font-pressed);
  transition-duration: 200ms;
}

.knob.pressed .dent,
.knob.pressed .notch {
  border-color: var(--color-widget-subbackground-pressed);
  background-color: var(--color-widget-subbackground-pressed);
  color: var(--color-widget-font-pressed);
  transition-duration: 0ms;
}
