.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  white-space: pre;

  border: 1px solid;

  transition-property: border-color box-shadow background-color color;
  border-color: var(--color-widget-border);
  box-shadow: none;
  background-color: var(--color-widget-background);
  color: var(--color-font);
  transition-duration: 200ms;
}

.button.pressed {
  border-color: var(--color-widget-border-pressed);
  box-shadow: 0px 0px 4px 0px #fff;
  background-color: var(--color-widget-background-pressed);
  color: var(--color-widget-font-pressed);
  transition-duration: 0ms;
}
