.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  user-select: none;

  border: 1px solid;

  transition-property: border-color;
  transition-property: box-shadow;
  transition-property: background-color;
  transition-property: color;
  border-color: var(--color-widget-border);
  box-shadow: none;
  background-color: var(--color-widget-background);
  color: var(--color-font);
  transition-duration: 200ms;

  font-size: x-large;
}

.button.pressed {
  border-color: var(--color-widget-border-pressed);
  box-shadow: 0px 0px 4px 0px #fff;
  background-color: var(--color-widget-background-pressed);
  color: var(--color-widget-font-pressed);
  transition-duration: 0ms;
}
