:root {
  --accent-color: rgb(40, 108, 255);
  --accent-color-darker: rgba(40, 108, 255, 0.6);
  --accent-color-darkest: rgba(40, 108, 255, 0.4);

  --background-color: rgb(255, 255, 255);
  --board-grid-color: rgb(190, 190, 190);

  --component-base-bg-color: #eee;
  --component-outline-color: #999;
  --component-active-outline-color: #333;

  --nav-bg-color: rgb(255, 255, 255);
  --nav-btn-active-bg-color: rgb(219, 219, 219);

  --lighter-text-color: rgba(0, 0, 0, 0.6);
}
