.navButton {
  border: none;
  color: var(--lighter-text-color);
  cursor: pointer;
  padding: 0 10px;
  font-weight: 500;
  height: 100%;
}

.navButton {
  background-color: var(--nav-bg-color);
  transition: 100ms;
}

.navButton:active {
  background-color: var(--nav-btn-active-bg-color);
  transition: 100ms;
}
